*{
  
  font-family: poppins;
  box-sizing: border-box;
}
h1{
    padding: 150px;
}
.contact-left{
    flex-basis: 20%;
}
.contact-right{
    flex-basis: 80%;
}
.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border:0;
    background: #262626;
    padding:15 px;
    margin: 15px 0;
    color: bisque;
    font-size: 18px;
    border-radius: 6px;
}
